#prompt {
    font-family: Helvetica, sans-serif;
    font-size: 120%;
}

#nextStep {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
}

#lastUserInput {
    font-size: 18px;
    color: #5F9EA0;
    
}


#textArea {
    font-size: 18px;
}

