body {
  background-color: #bbbbbb;
}

#vidHolder {
  display: flex;
  flex-direction: column; 
}
#title {
  display: block; 
}
#content {
  width: 80%; 
  margin:0 auto;
  float: clear; 
}

#innerHold {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap; 
}

#prompt {
    font-family: Helvetica, sans-serif;
    font-size: 120%;
}

.continueButton {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 4px;
}

#nextStep {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 4px;
}

.textInput {
    font-size: 18px;
    color: #5F9EA0;
}

.textArea {
    font-size: 18px;
}

#textArea {
    font-size: 18px;
}

.responseArea {
  display: none; 
  flex-direction: row; 
  flex-wrap: wrap; 
  width: 350px;
  margin-left: 20px;
  height: 210px;
}

#questionBox {
  display: none; 
  flex-direction: row; 
  flex-wrap: wrap; 
  width: 350px;
  margin-left: 20px;
  height: 210px;
}